body {
  background: #f0f0f0;
  font-family: Helvetica, arial, sans-serif;
  font-size: 16px;
  padding: 20px;
}
#prognose {
  list-style: none;
  float: left;
  width: 100%;
}
#prognose li {
  float: left;
  border: 1px solid gray;
  padding: 10px;
  min-width: 150px;
  margin-right: 10px;
  background-color: #ebebeb;
  background-image: -moz-linear-gradient(top, #dddddd, #ffffff);
  background-image: -ms-linear-gradient(top, #dddddd, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dddddd), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #dddddd, #ffffff);
  background-image: -o-linear-gradient(top, #dddddd, #ffffff);
  background-image: linear-gradient(top, #dddddd, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#ffffff', GradientType=0);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
}
#prognose li.active {
  background-color: #f1f1f1;
  background-image: -moz-linear-gradient(top, #ffffff, #dddddd);
  background-image: -ms-linear-gradient(top, #ffffff, #dddddd);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#dddddd));
  background-image: -webkit-linear-gradient(top, #ffffff, #dddddd);
  background-image: -o-linear-gradient(top, #ffffff, #dddddd);
  background-image: linear-gradient(top, #ffffff, #dddddd);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd', GradientType=0);
  width: 300px;
}
#prognose h2 {
  margin-top: 0;
  font-size: 14px;
  color: #333;
}
#prognose .target,
#prognose .actual {
  text-align: right;
  color: #AAA;
  font-size: 11px;
  line-height: 13px;
  margin: 0;
}
#prognose .diff {
  text-align: right;
  color: #090;
  margin: 0;
  font-size: 18px;
}
#prognose .negative {
  color: #900;
}
